body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dcdcd7;
    color: #242122;
}

header {
    background-color: #c22033;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.p1 {
    margin: 3px 0px -17px 0px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

nav {
    margin-top: -16px;
    background-color: #940731;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display:inline-flex;
}

nav ul li a, nav ul li button {
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 8px 50px;
    border: 0px;
    background-color: #940731;
}

nav ul li a:hover, nav ul li button:hover {
    background-color: #c22033;
    transition: 0.3s;
    box-shadow: 0px 0px 2px 1px #9c9b9d inset;
}

#download-button {
    background-color: #c22033;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: bold;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/HelveticaNeue.ttf') format('truetype');
}

@font-face {
    font-family: 'LibreBaskerville-Regular';
    src: url('fonts/LibreBaskerville-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather-Regular';
    src: url('fonts/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Wingdings-Regular';
    src: url('fonts/Wingdings-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Sabon';
    src: url('fonts/Sabon.ttf') format('truetype');
}

@font-face {
    font-family: 'BOOKOS';
    src: url('fonts/BOOKOS.TTF') format('truetype');
 }


.link a {
    color: #7d7c7d;
    text-decoration: none;
}

.link a:hover {
    color: #c22033;
}
.small-container {
    display: flex;
    align-items: center; 
    background-color:#242122;
    width: 100%;
    padding: 20px;
    font-size: medium; 
    color: #ffffff; 
    overflow: hidden; 
}

.small-container img { 
    margin-right: 20px; 
    max-width: 350px; 
    max-height: 200px;
    width: auto; 
    height: auto; 
    object-fit: cover; 
}

table.table1 {
    border-collapse: collapse;
    width: 30%;
    margin-left: 5%;
}

table.table1, td.table1 {
    
}
/* this is all for the calendar section*/
table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: left;
}

td {
  cursor: pointer;
}

.editing {
  background-color:#bcbcbc;
}