body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #7a0019; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box {
    background-color: #e0e0e0; 
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

h2 {
    margin-bottom: 20px;
    color: black;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: flex;
    margin-bottom: 5px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button.login-btn {
    background-color: #7a0019; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.login-btn:hover {
    background-color: #a30505; 
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button.signup-btn {
    background-color: #7a0019; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.signup-btn:hover {
    background-color: #a30505; 
}