body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dcdcd7;
    color: #242122;
}

header {
    background-color: #c22033;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

nav {
    margin-top: -16px;
    background-color: #940731;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display:inline-flex;
}

nav ul li a, nav ul li button {
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 8px 50px;
    border: 0px;
    background-color: #940731;
}

nav ul li a:hover, nav ul li button:hover {
    background-color: #c22033;
    transition: 0.3s;
    box-shadow: 0px 0px 2px 1px #9c9b9d inset;
}

#download-button {
    background-color: #c22033;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: bold;
 }